@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Engagement&family=Righteous&family=Saira+Extra+Condensed:wght@100&display=swap');
/* css to specify families:
font-family: 'Bebas Neue', sans-serif; (nutrition, 15 rolls, pizza in a golden crust)
font-family: 'Engagement', cursive;    (Totino's)
font-family: 'Righteous', sans-serif;  (PIZZA ROLLS, BRAND PIZZA SNACKS)
font-family: 'Saira Extra Condensed', sans-serif;  (tiny thin text)
*/

/* 
I don't know how to get the port thing to work on my computer at home, so I can't see what my work looks like as I'm making progress outside of school. Not that I'm making much anyway...
*/




main {
  /* Fix the size of your design before you do anything else */
  width: 495px;
  height: 445px;
  margin: auto;
  margin-top: 185px;
  border: 1px solid #400274;
}

:root{
  --gradient_center :#f4e030;
  --gradient_outer :#f1ae0c;
  --cornery_thing :#fc912e;
--oval :#E94458;
  --nutrients :#D97E46;
  --dark_text :#412E15;
}

body{
  display: flex;
}

h1{
  font-family: 'Engagement', cursive;
  display: flex;
}

h2{
  font-family: 'Righteous', sans-serif;
  display: flex;
}

.center{
  display: flex;
}


.bottom_right {
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
    align-items: baseline;
}

div{
  display:flex;
}






/* colors!!!

#F1AE0C
#F4E030

*/

